@import url('./__avatar/author__avatar.css');
@import url('./__name/author__name.css');
@import url('./__button-remove/author__button-remove.css');

.author {
  color: #000;
  display: grid;
  grid-template-areas: 'avatar name remove';
  grid-template-columns: 32px 1fr 32px;
  grid-gap: 1em;
  margin-bottom: 1em;
}
